@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-componet.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

.nav {
  background-color: #f9f9fa;
  padding: 20px 30px;
}

.status-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 5px 3px;
}

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
