.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestion_title {
  margin-bottom: 30px;
}

.more-suggestions_icons {
  display: flex;
}

.more-sugggestions_icon {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions_icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions_icon-image i {
  font-size: 32px;
  color: white;
}
