.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header_icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header_icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
