.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  padding-top: 40px;
  opacity: 90%;
}

.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header_icons span {
  margin-left: 25px;
}
